<div class="container">
  <div class="row">
    <br>

    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form
        #subscriptionForm="ngForm"
        (ngSubmit)="onFormSubmit()"
      >
        <fieldset [disabled]="!!submittedValues">
          <div
            class="form-group"
            [ngClass]="{'has-error': showError(email)}"
          >
            <label for="email">Email</label>
            <input
              id="email"
              class="form-control"
              ngModel
              [name]="FieldName.EMAIL"
              required
              email
              placeholder="Please, enter a valid email address"
              #email="ngModel"
            >
            <span
              class="error-message help-block"
              *ngIf="showError(email)"
            >
              Please, enter a valid email address
            </span>
          </div>

          <div class="form-group">
            <label for="subscription">Select subscription</label>
            <select
              id="subscription"
              class="form-control"
              [ngModel]="Subscription.ADVANCED"
              [name]="FieldName.SUBSCRIPTION"
            >
              <option
                *ngFor="let subscription of subscriptions"
                [value]="subscription"
              >
                {{ subscription }}
              </option>
            </select>
          </div>

          <div
            class="form-group"
            [ngClass]="{'has-error': showError(password)}"
          >
            <label for="password">Password</label>
            <input
              id="password"
              type="password"
              class="form-control"
              ngModel
              [name]="FieldName.PASSWORD"
              required
              placeholder="Create a new password for the subscription"
              #password="ngModel"
            >
            <span
              class="help-block"
              *ngIf="showError(password)"
            >
              Please, enter any complexity password!
            </span>
          </div>

          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!subscriptionForm.valid || !!submittedValues"
          >
            Subscribe
          </button>
        </fieldset>
      </form>
    </div>
  </div>
  <div
    class="row"
    *ngIf="!!submittedValues"
  >
    <br>

    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h4>Submitted Values</h4>
      <p>Email: {{submittedValues[FieldName.EMAIL]}}</p>
      <p>Subscription: {{submittedValues[FieldName.SUBSCRIPTION]}}</p>
      <p>Password: {{submittedValues[FieldName.PASSWORD]}}</p>
      <br>
      <button
        class="btn btn-primary"
        (click)="resetSubmission()"
      >
        Reset
      </button>
    </div>
  </div>
</div>